
*,
*::before,
*::after {
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height:auto;
}

@font-face {
  font-family: 'BBB-Herthey';
  src: url('../fonts/BBB-Herthey-Futural--15.woff2') format('woff2');
}

body{
  margin: 0;
  background-image: radial-gradient(circle, #000000, #35101a, #661025, #98072a, #cb0026);
  font-family: 'BBB-Herthey';
  font-feature-settings: "liga" 1;
  color:rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.container-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 20px;
}

.form-container{
  display: flex;
  gap: 1rem;
}


.game-state{
  width: 100px;
}

.img-battewoman{
  
  width: 20%
}

.display{
  background-color: rgba(0, 0, 0, 0.215);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
  padding: 20px;
}
/* 
.pop-up-display{

} */
